@model SocketComment.Models.Comment

<div class="row">
    <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
        <a href=""><i data-feather="user" width="40" height="40"></i></a>
    </div>
    <div class="comment-content col-md-11 col-sm-10 col-12">
        <h6 class="small comment-meta"><a href="#">@Model.Author</a> @Html.DisplayFor(model => model.Created) <span class="badge badge-secondary">@Model.Id</span></h6>
        <div class="comment-body">
            <p style="word-wrap: break-word;">
                @Html.DisplayFor(model => model.Message)
                <br />
                <a href="" class="text-right small"><i data-feather="corner-up-left" width="12" height="12"></i> Reply</a>
            </p>
        </div>
    </div>
</div>