@page "{parentId?}"
@model SocketComment.Pages.CreateCommentModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "CreateComment";
}

<h2>Create new comment</h2>

<div asp-validation-summary="All"></div>
<form method="post">
    <div class="form-group">
        <label asp-for="Comment.Author" class="control-label"></label>
        <input asp-for="Comment.Author" class="form-control" />
        <span asp-validation-for="Comment.Author" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Comment.Message" class="control-label"></label>
        <input asp-for="Comment.Message" class="form-control" />
        <span asp-validation-for="Comment.Message" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Comment.Parent" class="control-label"></label>
        <input asp-for="Comment.Parent" class="form-control" />
        <span asp-validation-for="Comment.Parent" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</form>