@page
@model SocketComment.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Root Comments";
}

<h2>Root comments</h2>

@if (Model.RootComments != null)
{
    <table>
        @foreach (var rootComment in Model.RootComments)
        {
            <tr>

                <td>
                    <p><a asp-page="./Thread" asp-route-id="@rootComment.Id">@rootComment.Message</a></p>
                </td>
            </tr>
        }
    </table>
}