@page
@model SocketComment.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Root Comments";
}

<h2>Root comments</h2>

@if (Model.RootComments != null)
{
    <div class="comment mb-2 row">

        @foreach (var rootComment in Model.RootComments)
        {
            <div class="comment col-12">
                @{ Html.RenderPartial("Partials/SingleComment", rootComment); }
            </div>
        }
    </div>
}
