@page "{id}"
@model SocketComment.Pages.ThreadModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Thread";
}

<h2>Thread</h2>

@if (Model.Thread.Root.Parent != null)
{
    <p>Parent comment: <a asp-page="./Thread" asp-route-id="@Model.Thread.Root.Parent">@Model.Thread.Root.Parent</a></p>
}

@Html.DisplayFor(model => Model.Thread.Root.Message)

@if (Model.Thread.Children != null && Model.Thread.Children.Any())
{
    foreach (var child in Model.Thread.Children)
    {
        <p>@child.Message</p>
    }
}