@page "{id}"
@model SocketComment.Pages.ThreadModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Thread";
}

<h2>Thread</h2>

@if (Model.Thread.Root.Parent != null)
{
    <p><a asp-page="./Thread" asp-route-id="@Model.Thread.Root.Parent"><i data-feather="chevron-up" width="12" height="12"></i> @Model.Thread.Root.Parent</a></p>
}

<div class="container">
    <div class="row">
        <div class="comments col-12" id="comments">
            @{ Html.RenderPartial("Partials/SingleThread", Model.Thread); }
            <!-- /comment -->
            <div class="row pt-2">
                <div class="col-12">
                    <a href="" class="btn btn-sm btn-primary">Comment</a>
                </div>
            </div>
        </div>
    </div>
</div>
